

.tree-list {

    list-style: none;

    li {
        padding: 5px;
    }

    .indent{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .expand-icon{
        float: right;
        cursor: pointer;
        width: 10px;
        height: 10px;

        .expand {
            content:url("./chevron-right-solid.svg");
        }

        .collapse{
            content:url("./chevron-down-solid.svg");
            display: block;
        }

    }

}