<ul class="tree-list">
  <ng-template #recursiveTemplate let-list="list">
    <ng-container *ngFor="let item of list">
      <li>
        <span class="indent" *ngFor="let i of createRange(item.level)"></span>
        <input type="checkbox" #checkBoxValue [checked]="item.isSelected" (change)="onCheckboxChange(checkBoxValue.checked, item, list)"
        /> {{item.text | uppercase}}

        <div class="expand-icon">
          <span [hidden]="item.isExpand" (click)="onExpand(item ,true)">
            <img src="../../../chevron-right-solid.svg" />
          </span>

          <span [hidden]="!item.isExpand" (click)="onExpand(item ,false)">
            <img src="../../../chevron-down-solid.svg" />
          </span>
        </div>
      </li>

      <ng-container *ngIf="item.isExpand">
        <ng-container *ngTemplateOutlet="recursiveTemplate; context: { list: item.children }"></ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveTemplate; context: { list: treeListData }"></ng-container>
</ul>